a#contactName {
  padding-left: 30px;
  cursor: pointer;
}
button#cancelSearchBtn {
  padding-left: 10px;
}

a#signoutLink {
  font-size: 1.1em;
  cursor: pointer;
}

a#homeBtn {
  position: absolute;
  left: 20px;
}

#userNameTxt {
  text-align: center;
  position: relative;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  position: relative;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

button#createConvoBtn {
  position: fixed;
  top: 90%;
  left: 13%;
  transform: translate(-50%, 0%);
  font-size: 1.75em;
}

#scrollableContent {
  overflow-y: scroll;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 75px;
}

button#searchUserBtn {
  margin-right: 10px;
  position: absolute;
  right: 10px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#searchbox {
  margin-left: 10px;
  margin-right: 10px;
}

#searchIcon {
  font-size: 15px;
}

#defaultConvoViewTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
}

#chatInputFld {
  position: fixed;
  top: 91%;
  left: 57%;
  transform: translate(-50%, 0%);
}

#newConvoInfoTxt {
  color: #0062cc;
}

@media (min-width: 1px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    position: relative;
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
